.grid {
    border: 3px solid black;
    height:540px;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
}

@keyframes example {
    from {background-color: lightblue;}
    to {background-color: blue;}
  }

.grid div {
    height: 60px;
    width: 60px;
}

.ending-block{
    background-color: red;
}


.car-left, .car-right {
    background-color: lightgray;
}


.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightblue;
}

.c1{
    background-color: black;
}


.c2,.c3 {
    background-color: #F7F7F7;
}

.frog{
    background-image: url('images/main.png');
    background-size: cover;
}